@font-face {
  font-family: Bookerly;
  src: url("http://7xiijd.com1.z0.glb.clouddn.com/Bookerly-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Bookerly;
  src: url("http://7xiijd.com1.z0.glb.clouddn.com/Bookerly-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Bookerly;
  src: url("http://7xiijd.com1.z0.glb.clouddn.com/Bookerly-RegularItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: Bookerly;
  src: url("http://7xiijd.com1.z0.glb.clouddn.com/Bookerly-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

h2, h1{
  text-align: center;
}
div.output_wrapper {
  padding: 8px;
}
